* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: relative;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#background-shape {
  position: absolute;
  background-color: rgb(92, 101, 220);
  width: 100%;
  height: 200%;
  z-index: -1;
  transform: translateY(-70%) skewY(-0.2rad);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#header-img {
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

#shadow {
  position: relative;
  max-width: 400px;
  height: 65px;
  background-color: black;
  transform: translateY(-110%);
  opacity: 0.3;
  z-index: 1;
}

#name-surname {
  position: absolute;
  transform: translateY(-150%);
  color: white;
  margin-left: 6%;
  font-size: 30px;
  font-weight: 600;
  z-index: 2;
}

#about-me-section {
  position: relative;
  height: 300px;
  width: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  padding: 2%;
  margin-top: 3%;
  background-color: white;
}

#header-icons {
  position: absolute;
  font-size: 35px;
  bottom: 20px;
  right: 30px;
}

#h1-about {
  margin-bottom: 5%;
}

.h1-main {
  position: relative;
  text-align: left;
  margin-left: 210px;
}

#projects-section {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 30px;
  padding: 30px;
  margin-left: 30px;
  justify-content: center;
}

.project {
  width: 300px;
  height: 350px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.screenshot {
  display: flex;
  width: 300px;
  height: 200px;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
}

#project-1 {
  background-color: #9e1d1d;
}

#project-2 {
  background-color: #936bbb;
}

#project-3 {
  background-color: #438c3e;
}

#project-4 {
  background-color: #be59be;
}

#project-5 {
  background-color: #cf6d3c;
}

#project-6 {
  background-color: #5c7ae8;
}

.main-icons {
  font-size: 30px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.project-description {
  padding-left: 15px;
  padding-right: 15px;
  color: grey;
}

#footer-img {
  position: relative;
  max-width: 800px;
  left: 40%;
  transform: translateY(-5%);
}

#footer-background {
  position: absolute;
  background-color: rgb(92, 101, 220);
  width: 100%;
  height: 82%;
  z-index: -1;
  transform: translateY(-100%);
}

#contact-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 250px;
  gap: 20px;
  transform: translateY(100%);
  left: 5%;
  color: white;
  font-weight: 200;
}

#h1-contact {
  font-size: 40px;
}

#phone,
#email,
.footer-text {
  font-size: 20px;
}

#footer-icons {
  display: flex;
  font-size: 40px;
  gap: 30px;
}

/* Tablet */
@media (max-width: 768px) {
  header {
    left: 25%;
  }

  #header-img {
    max-width: 500px;
  }

  #header-img-section {
    position: relative;
    z-index: 2;
    right: 25%;
  }

  #shadow {
    max-width: 500px;
  }

  #name-surname {
    margin-left: 25%;
    font-size: 35px;
  }

  #about-me-section {
    position: absolute;
    height: 600px;
    width: 800px;
    padding: 2%;
    margin-top: 10%;
    margin-left: 10%;
    z-index: 1;
  }

  #h1-about {
    padding-left: 67%;
    font-size: 35px;
  }

  #about-me-p {
    padding-left: 55%;
    padding-right: 5%;
    font-size: 25px;
  }

  #header-icons {
    bottom: 50px;
    left: 150px;
  }

  #background-shape {
    width: 150%;
    transform: translateY(-70%) skewY(-0.4rad);
  }

  main {
    margin-top: 150px;
    margin-left: 400px;
  }

  #projects-section {
    grid-template-columns: repeat(2, 350px);
  }

  .h1-main {
    margin-left: -165px;
  }

  #contact-section {
    max-width: 450px;
    transform: translateY(130%);
    left: 15%;
  }

  #h1-contact {
    font-size: 50px;
  }

  #phone,
  #email,
  .footer-text {
    font-size: 25px;
  }

  #footer-icons {
    display: flex;
    font-size: 50px;
    gap: 30px;
  }

  #footer-img-section {
    position: relative;
    width: 500px;
    height: 700px;
    margin-left: 75%;
    overflow: hidden;
  }

  #footer-img-section img {
    left: -40%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #footer-img {
    position: relative;
    max-width: 800px;
    left: 100%;
    transform: translate(60%, -5%);
  }

  #footer-background {
    width: 150%;
    height: 150%;
  }
}

/* Mobile */
@media (max-width: 320px) {
  header {
    left: 40%;
    flex-direction: column;
  }

  #header-img {
    max-width: 800px;
    max-height: 1200px;
  }

  #header-img-section {
    left: -20%;
  }

  #shadow {
    max-width: 800px;
    width: 250%;
    height: 100px;
    opacity: 0.4;
    transform: translateY(-105%);
  }

  #name-surname {
    margin-left: 55%;
    margin-top: 15%;
    font-size: 60px;
    width: 600px;
    height: 100px;
  }

  #about-me-section {
    position: relative;
    height: 600px;
    width: 800px;
    box-shadow: none;
    padding: 0%;
    margin-top: 0%;
    margin-left: 0%;
  }

  #h1-about {
    padding-left: 28%;
    font-size: 60px;
  }

  #about-me-p {
    padding-left: 0%;
    padding-right: 10%;
    font-size: 45px;
  }

  #header-icons {
    bottom: 0px;
    top: 800px;
    font-size: 100px;
  }

  #background-shape {
    left: -40%;
    width: 290%;
    height: 70%;
    transform: translateY(-70%) skewY(-0.5rad);
  }

  main {
    margin-top: 550px;
    margin-left: 400px;
  }

  #projects-section {
    grid-template-columns: repeat(1, 600px);
    gap: 100px;
  }

  .h1-main {
    margin-left: -150px;
    margin-bottom: 50px;
    font-size: 100px;
    width: 400px;
  }

  .project {
    width: 600px;
    height: 650px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  }

  .screenshot {
    width: 600px;
    height: 400px;
    font-size: 55px;
  }

  h2 {
    font-size: 40px;
  }

  .project-description {
    font-size: 35px;
  }

  .main-icons {
    font-size: 50px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  #contact-section {
    max-width: 700px;
    width: 600px;
    transform: translateY(50%);
    left: 55%;
  }

  #h1-contact {
    font-size: 70px;
    width: 600px;
  }

  #phone,
  #email,
  .footer-text {
    font-size: 35px;
  }

  #footer-icons {
    display: flex;
    font-size: 70px;
    gap: 30px;
  }

  #footer-img-section {
    position: relative;
    width: 900px;
    height: 1200px;
    margin-left: -3%;
    margin-top: 150%;
    margin-bottom: 5%;
    overflow: hidden;
  }

  #footer-img-section img {
    left: -45%;
    bottom: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #footer-img {
    position: relative;
    max-width: 800px;
    left: 100%;
    transform: translate(60%, 40%);
  }

  #footer-background {
    margin-top: 300%;
    width: 290%;
    height: 150%;
  }
}
